[submodule "buildSrc/src/main/groovy/biocomp/HubitatCi"]
	path = buildSrc/src/main/groovy/biocomp/HubitatCi
	url = https://biocomp.visualstudio.com/DefaultCollection/HubitatStuff/_git/HubitatCi
[submodule "SubmodulesWithScripts/EcoNet"]
	path = SubmodulesWithScripts/EcoNet
	url = https://github.com/biocomp/EcoNet.git
[submodule "SubmodulesWithScripts/konnected"]
	path = SubmodulesWithScripts/konnected
	url = https://github.com/jca1/konnected.git
[submodule "SubmodulesWithScripts/Hubitat_iComfort"]
	path = SubmodulesWithScripts/Hubitat_iComfort
	url = https://github.com/biocomp/Hubitat_iComfort.git
[submodule "SubmodulesWithScripts/homeremote"]
	path = SubmodulesWithScripts/homeremote
	url = https://github.com/mihaca/homeremote.git
[submodule "SubmodulesWithScripts/homebridge-hubitat-tonesto7"]
	path = SubmodulesWithScripts/homebridge-hubitat-tonesto7
	url = https://github.com/biocomp/homebridge-hubitat-tonesto7.git
[submodule "SubmodulesWithScripts/Hubitat"]
	path = SubmodulesWithScripts/Hubitat
	url = https://github.com/erocm123/Hubitat.git
